<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, id: "session_email"%>
  <%= f.label :password %>
  <%= f.password_field :password, id: "session_password" %>
  <%= f.submit "Log in", id: "commit_new" %>
<% end %>
