<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
    <h2><%= @task.erors.count %>件のエラーがあります</h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>

  <div class="task-title">
    <%= form.label t('view.task_title') %>
    <%= form.text_field :title, id: 'title_new' %>
  </div>
  　
  <div class="task-title">
  <%= form.label t('view.task_content') %>
  <%= form.text_field :content, id: 'content_new' %>
  </div>

  <div class="task-title">
    <%= form.label t('view.dead_line') %>
    <%= form.text_field :dead_line, data:{ provide:'datepicker' }, id: 'date_new' %>
  </div>

  <div class="task-title">
    <%= form.label t('view.condition') %>
    <%= form.select :condition, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>

  <div class="task-title">
    <%= form.label t('view.priority') %>
    <%= form.text_field :prioity %>
  </div>

  <div class="task-title">
    <%= form.label t('view.author') %>
    <%= form.text_field :author %>
  </div>
  
  <%= form.submit button_text %>
<% end %>

<% link_to t('view.go_tasks_path'), tasks_path %>

