<h1>ユーザー詳細画面</h1>
<p>名前:<%= @user.name %></p>
<p>メールアドレス:<%= @user.email %></p>
<p>タスク数:<%= @user.tasks.count %></p>
<table>
 <tr>
   <th>タスク名</th>
   <th>タスク詳細</th>
   <th>終了期限</th>
   <th>状態</th>
   <th>優先順位</th>
   <th>作者</th>
  </tr>
   <% @tasks.each do |task| %>
    <tr>
      <td><%= task.content %></td>
      <td><%= task.dead_line %></td>
      <td><%= task.condition %></td>
      <td><%= task.priority %></td>
      <td><%= task.author %></td>
  </tr>
    <% end %> 
</table>
<% if @user.admin? %>
<%= link_to "管理者です。編集しますか？", edit_admin_user_path(@user.id) %>
<% end %>
<%= link_to "ユーザー登録画面へ", new_admin_user_path(@user.id) %>
<%= link_to "ユーザー一覧画面へ", admin_users_path, id: "back" %>